/* HERRAMIENTAS DE AYUDA PARA CSS 
-Responsively (app para ver en diferentes tamanos pagina)
- CSSmatic.com (web para evaluar colores y sombras en css)
- CanIuse.com (ver que caracteristicas de css estan soportadas por navegador)
-tablerIcons.com (descargar y modificar iconos gratis)
- fonts.google.com (descargar fuentes de texto)
*/


:root{  /*pseudoselectores no existen en html, registrar custom properties*/
    /*en este caso crear una paleta de colores*/
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: rgba(255,193,7,1); /*utilizando con canal alfa*/
    --secundario: #9e189e;
    --gris: #757575;
    --grisClaro: #9c9c9c;

    --fuente-principal: 3.8rem;

}

html{
    font-size: 62.5%;
    box-sizing: border-box; /*elimina problema de dimensionar imagenes exactas, con bordes*/
    scroll-snap-type: y mandatory; /*se define snap scroll (manera para hacer pausas por partes en scroll)*/
}

.hero, .servicios, .navegacion-principal, .formulario{ /*para ubicar el scroll snap a lo largo de la pagina*/
    scroll-snap-align: center; 
    scroll-snap-stop: always;
}

*, *:before, *:after { /* *es para seleccionar todo, y el after y before son pseudoelementos */
    box-sizing: inherit; /*elimina problema de dimensionar imagenes exactas, con bordes*/
  }

body{ /*se define la parte visible del proyecto y para toda la pagina*/
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px; /* 1 rem = 10 px con html 62.5% y body 16px*/
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 80% ); /*agregar color gradiente*/
}

.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,122,0.54); /* -- es prefijo para uso exclusivo en ciertos navegadores no compatibles con la version original*/
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,122,0.54);
    box-shadow: 0px 5px 15px 0px rgba(112,112,122,0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1, h2, h3{
    text-align: center;
}

.titulo{
    color: var(--oscuro);
    /*font-family: Arial, Helvetica, sans-serif; toma opciones en orden*/
}
.titulo span{
    font-size: 2rem;
}

.contenedor{
    max-width: 120rem; /*toma como maximo eso si lo hay disponible, si no toma el 100%*/
    margin-top: 0; /*es la forma larga de margin*/
    margin-left: auto;
    margin-bottom: 0;
    margin-right: auto;

    margin: 0 auto 0 auto; /*forma corta margin*/
    margin: 0 auto; /*forma mas corta margin*/
    
     /*para ubicar los elementos (block es saltando linea)*/
}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{
    padding: 0rem; /*padding dentro del elemento, margin por fuera, misma sintaxis*/
    display: flex; /*habilita la posibilidad de distribuir hijos*/
    flex-direction: column; /*cambiar flex por columna o filas*/
    align-items: center; /*distribuir contenido horizontalmente (con flex column) y vertical (con flex row*/
    justify-content: space-around ; /*distribuir contenido horizontalmente (con flex row) y vertical (flex column)*/
}

@media (min-width: 480px) { /*estandar para celular*/
    
}

@media (min-width: 768px) { /*estandar para tablet*/
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 1140px) { /* estandar para laptop*/
}

@media (min-width: 1400px) { /*estandar para pc*/  
}

.navegacion-principal a {
    text-decoration: none; /*quitar o cambiar estilo de links (quitar raya)*/
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 400; /*cambiar grosor, bold es 700 y normal es 400*/
    padding: 1rem;
}

.navegacion-principal a:hover{ /*cuando se posa el mouse sobre el elemento*/
    background-color: var(--primario);
    width: 100%;
    text-align: center;
    color: var(--oscuro);
}

@media (min-width: 768px) {
    .navegacion-principal a{
        color: rgba(255, 255, 255, 0.747);
    }
    .navegacion-principal a:hover{
        width: 50%;
        border-style:hidden;
        border-radius: 0.5rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        font-weight: 700;
    }
}

.navegacion-principal a:visited{ /*cuando se visita el enlace*/
}
.navegacion-principal a:focus{ /*se marca el elemnto (util cuando se navega con teclado)*/
}











/* PRESENTACIOOOOOOOOOOOOOOON */

.hero{
    background-image: url(../img/backimage1.png);
    background-repeat: no-repeat;
    background-size:cover; 
    padding: 0rem; /*padding dentro del elemento, margin por fuera, misma sintaxis*/
    display: flex; /*habilita la posibilidad de distribuir hijos*/
    flex-direction: column; /*cambiar flex por columna o filas*/
    align-items: center; /*distribuir contenido horizontalmente (con flex column) y vertical (con flex row*/
    margin-bottom: 2rem;
}

.img-hero img{
    height: 300px;
    margin-top: 2rem;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Añade una sombra */
}

.img-hero h2{
    margin-top: 0.5rem;
    color: var(--blanco);
    margin-bottom: 3rem;
}

.contenido-hero{
    width: 80%; /*para ocupar el ancho total del padre*/
    height: auto; /*para ocupar alto total del padre*/
    margin-top: 0rem;
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 2rem; /*agregar radio a los elementos*/
    display: flex; /*codigo para alinear vertical y horizontalmente*/
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

@media (min-width: 768px) {
    .hero{
        flex-direction: row;
        height:64rem;
        padding: 30px;
        position: relative; /*para ubicar a los hijos en una posicion absoluta*/
        margin-bottom: 2rem;
        justify-content: space-evenly;
    } 
    .img-hero{
        position: absolute;
        top: 20%;
        background-color: rgba(0, 0, 0, 0.7);
        color: var(--blanco);
        width: 40%;
        display: flex; /*codigo para alinear vertical y horizontalmente*/
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        border-radius: 2rem;
        left: 5%;
    }   

    .contenido-hero{
        position: absolute; /*para ubicarse en una posicion absoluta del padre*/
        width: 40%; /*para ocupar el ancho total del padre*/
        height: 90%; /*para ocupar alto total del padre*/
        top: 5%; /*para mover el contenido dentro del espacio*/
        right: 5%;
    }
}

@media (min-width: 1100px) { 
    .hero{
        background-image: url(../img/backimage2.png);
    }

}




.contenido-hero h2, .contenido-hero p{ /*llamando dos clases al mismo tiempo*/
    color: var(--blanco);
    padding: 0rem 2rem;  
}
.contenido-hero p{
    text-align: justify;
}
@media (min-width: 768px) {
    .contenido-hero h2, .contenido-hero p{
        padding: 0rem 4rem;
    }
    .contenido-hero h2{
        font-size: 2rem;
        text-align: center;
    }
    .contenido-hero p{
        font-size: 1.4rem;
    }
}
@media (min-width: 1100px) {
    .contenido-hero h2{
        font-size: 2.8rem;
        padding-bottom: 2rem;
    }
    .contenido-hero p{
        font-size: 1.6rem;
    }
}



.ubicacion{
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem;
    margin-bottom: 1rem;
}
@media (min-width: 768px) {
    .ubicacion{
        padding: 0rem;
        font-weight: bold;
        margin: 0rem;
    }
}
@media (min-width: 1100px) {
    .ubicacion{
        margin: 1rem;
    }
}


.boton{ /*codigo para botones*/
    background-color: var(--secundario);
    color: rgb(255, 255, 255);
    padding: 1rem 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 0.5rem;
    text-decoration: none;
    width: 90%;
    text-align: center;
    border: none;
}
.boton:hover{
    width: 90%;
    background-color: var(--primario);
    color: var(--oscuro);
}
@media (min-width: 768px) {
    .boton{
        width: auto; /*para resetear el valor al estandar*/
        font-size: 2.3rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.781);
    }
    .boton:hover{
        width: 60%;
        background-color: var(--primario);
        color: var(--oscuro);
        box-shadow: 0 0 10px rgba(145, 145, 145, 0.5);
        font-weight: 400;
    }
}

/* FIN PRESENTACIOOOOOOOOOOOOOOOOOON */








/* INICIO MAINNNNNNNNNNNNNNNN */

.contenedor-servicios{
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .servicios{
        display: grid; /*en lugar de flex, grid es para ubicar elementos en malla, */
        grid-template-columns: 300px 300px 300px; /*definir columnas de grid*/
        grid-template-rows: 100px 100px 100px; /*definir filas de grid*/
    
        grid: 300px 300px 300px / 100px 100px 100px; /*forma corta de grid*/
    
        grid-template-columns: repeat(3, 1fr); /*1 fr coge a partes iguales algo, en 3 columnas*/

        column-gap: 1rem;

        position: relative;
    }

    /* Estilo para las líneas intermedias */
    .servicios::before,
    .servicios::after {
        content: '';
        top: 10%;
        height: 80%; /* Altura igual a la altura del contenedor */
        width: 2px; /* Ancho de la línea */
        background-color: rgba(145, 145, 145, 0.5); /* Color de la línea */
        position: absolute; /* Posición absoluta para superponer las líneas */
    }

    /* Estilo para posicionar la primera línea entre la primera y la segunda columna */
    .servicios::before {
        left: calc(33.333% - 0.5px);
    }

    /* Estilo para posicionar la segunda línea entre la segunda y la tercera columna */
    .servicios::after {
        left: calc(66.666% - 0.5px);
    }
}

.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: aquamarine;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.servicio{
    display: flex; /*codigo para centrar con display flex column*/
    flex-direction: column;
    align-items: center;

}
.servicio p{
    line-height: 2; /*aumentar interlineado*/
    text-align: center;
}
.servicio h2{
    color: var(--secundario);
}

/* FIN MAINNNNNNNNNNNNNNNNNN */









/* INICIO FORMULARIOOOOOOOOO */

.formulario{
    max-width: 120rem;
    margin: 0 auto;
}
.contenido-formulario{
    background-color: var(--gris);
    width: min(70rem, 100%); /*toma dos parametros, utiliza valor mas pequeno*/
    margin: 1rem auto; /*se usa cuando para centrar cuando padre no tiene flex y/o sea una entrada tipo blog con todo el espacio disponible*/
    padding: 2rem;
    border-radius: 2rem; 
}
.contenido-formulario fieldset{
    border: none;
}
.contenido-formulario legend{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 3rem;
    color: var(--primario);
}



.contenedor-campos{

}
@media (min-width: 768px) {
    .contenedor-campos{
        display: grid; /*grid permitio cambiar un elemento de posicion sin tocar html*/
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 20rem;
    }
    .campo:nth-child(3){ /*manera de seleccionar un elemento de varios con el mismo nombre de clase*/
        grid-column: 1/3;
    } 
    .campo:nth-child(4){
        grid-column: 1/3;
    }
}



.campo{
    margin: 0 1rem 1rem 1rem;
}
.campo label{
    color: var(--blanco);
    font-size: 1.8rem;
}
.campo textarea{
    height: 15rem;
    outline: none;
}



.campo input[type="text"], .campo input[type="tel"]{ /*1 manera de seleccionar inputs por sus selectores*/

}
.input-text{ /*la otra forma es creando una clase xD*/
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 1rem;
    outline: none;
    
}

.input-text:hover{
    border: none;
    box-decoration-break: none;
}


.padre-boton{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .padre-boton{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .padre-boton .boton{
        width: 23%;
        text-align: center;
    }
    .padre-boton .boton:hover{
        width:50%;
        text-align: right;
    }
}

/* FIN FORMULARIOOOOOOOOOOOO */








/*INICIO FOOTERRRRRRRRRRRRRRRRRR*/

.footer{
    text-align: center;
    margin-top: 1rem;
}

/* FIN FOOTERRRRRRRRRRRRRRRRRRRRRRR */